html, body {
	height: 100%;
}

html {
	background-image: url('../img/sample.jpg');
	background-position: center center;
	background-size: cover !important;	
	background-repeat: no-repeat;
    background-attachment: fixed !important;
}

body {
	background-color: rgba(44,62,80 , 0.2);
	background-image: url('../img/pattern.png');
	background-repeat: repeat;
	font-family: 'Raleway', 'Arial', sans-serif;
}

h1 {
	font-size: 36px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
	font-size: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.countdown-container {
	position: relative;
	top: 45%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);

}

.clock-item .inner {
	height: 0px;
	padding-bottom: 100%;
	position: relative;	
	width: 100%;
}

.clock-canvas {
	background-color: rgba(255, 255, 255, .1);
	border-radius: 50%;
	padding-bottom: 100%;
	background-image: url("../img/vot-1.png");
	background-size: contain;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

.text {
	color: #fff;	
	font-size: 30px;
	font-weight: bold;	
	margin-top: -50px;
	position: absolute;
	top: 50%;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	width: 100%;
}

.text .val {
	font-size: 50px;
}

.text .type-time {
	font-size: 20px;
}

.break {
	margin-top: 150px;
}




/*@media screen and (device-width: 320px) and (device-height: 568px) and (orientation : portrait){
		.clock-item {
		margin: 0px 30px 30px 30px;
	}

	body{
		height: 350%;
	}
}

@media screen and (device-width: 568px) and (device-height: 320px) and (orientation : landscape){
		.clock-item {
		margin: 0px 30px 30px 30px;
	}

	body{
		height: 650%;
	}
}
*/
@media (min-width: 320px) and (max-width: 568px) and (orientation : portrait){
		.clock-item {
		margin: 0px 30px 30px 30px;
	}

	body{
		height: 300%;
	}
}

@media (min-width: 320px) and (max-width: 568px) and (orientation : landscape) {
		.clock-item {
		margin: 0px 30px 30px 30px;
	}

	body{
		height: 720%;
	}
}

/*orange hiro*/

@media (min-width: 480px) and (max-width: 854px) and (orientation : portrait){
		.clock-item {
		margin: 0px 30px 30px 30px;
	}

	body{
		height: 220%;
	}
}

@media (min-width: 480px) and (max-width: 854px) and (orientation : landscape) {
		.clock-item {
		margin: 0px 30px 30px 30px;
	}

	body{
		height: 720%;
	}
}